<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>{% block title %}TPL Management{% endblock title%}</title>

</head>
<body style="background-color:#f0f8ff;padding:20px">
{% block content %}
    <div class="jumbotron jumbotron-fluid mb-0" style="background-color:#191970;">
        <div class="container">
            <h1 class="display-4" style="color:#eeeeee">TPL Management</h1>
            <p class="lead" style="color:#eeeeee">Welcome to the Third Party Laboratory Mangement App!</p>
            <p style="color:#eeeeee">Your home for all of your TPL management needs.  Please select which area of interest you would like to visit!</p>
        </div>
    </div>
<br>
<br>

<div class="card-deck mt-4 justify-content-center">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Study Management</h5>
            <p class="card-text">Visit here to create new or update existing study information.</p>
            <a class="card btn btn-primary" href="{% url 'studies:study-home' %}">Click Here!</a>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Service Provider Metrics</h5>
            <p class="card-text">Visit here to view metrics on service provider performance.</p>
            <a class="card btn btn-primary" href="{% url 'studies:metrics' %}">Click Here!</a>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Trend Study Data</h5>
            <p class="card-text">Visit here to view study data trends over time.</p>
            <a class="card btn btn-primary" href="{% url 'studies:trends' %}">Click Here!</a>
        </div>
    </div>
</div>

{% endblock content %}
</body>
</html>