{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-12">
            <form method="post" enctype="multipart/form-data" novalidate>

                {% csrf_token %}

                {% if form.non_field_errors or form.errors %}
                    <div class="alert alert-danger" role="alert">
                        <h5>Oh no! Form not submitted!</h5>
                        <p>Please see errors in the form below.</p>
                        {% if form.non_field_errors %}
                            <p>If no fields are highlighted red, maybe this will help:</p>
                            <ul>
                                {% for non_field_error in form.non_field_errors %}
                                    <li><h6 class="mb-0">{{ non_field_error }}</h6></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="mb-4">Update Sample Information</h3>
                    </div>
                </div>

                <div class="card">

                    <div class="card-header"><strong>Sample Information</strong></div>

                    <div class="card-body">

                        <div class="form-row">
                            <div class="form-group col-md-4 mb-0">
                                {{ form.sample_id|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{ form.pull_date|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{ form.timepoint|as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4 mb-0">
                                {{ form.pull_condition|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{ form.quality|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">

                    <div class="card-header"><strong>Sample Management</strong></div>

                    <div class="card-body">

                        {{ man_formset.management_form }}

                        <table class="man_table">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Purchase Order</th>
                                <th>Contract</th>
                                <th>Shipment</th>
                                <th>Results Received</th>
                                <th>Results Corrected</th>
                                <th>Invoice Received</th>
                                <th>Invoice Corrected</th>
                                <th>Invoice Amount</th>
                                <th>Current PO Amount</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody class="dynamic-formset">
                            {% for mform in man_formset %}
                                <tr class="w-75">
                                <td>{{ mform.manage_id }}</td>
                                    <td>{{ mform.po_num|as_crispy_field }}</td>
                                    <td>{{ mform.contract|as_crispy_field }}</td>
                                    <td>{{ mform.shipment|as_crispy_field }}</td>
                                    <td>{{ mform.result_rec|as_crispy_field }}</td>
                                    <td>{{ mform.result_corr|as_crispy_field }}</td>
                                    <td>{{ mform.invoice_rec|as_crispy_field }}</td>
                                    <td>{{ mform.invoice_corr|as_crispy_field }}</td>
                                    <td>{{ mform.invoice_amt|as_crispy_field }}</td>
                                    <td>{{ mform.po_current|as_crispy_field }}</td>
                                    <td>{{ mform.DELETE|as_crispy_field }}</td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="add-btn"></div>
                    </div>
                </div>

                <div class="card">

                    <div class="card-header"><strong>Sample Results</strong></div>

                    <div class="card-body">

                        {{ result_formset.management_form }}

                        <table class="result_table">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Test Name</th>
                                <th>Component Name</th>
                                <th>Result Status</th>
                                <th>Result Number</th>
                                <th>Reported As</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody class="dynamic-formset">
                            {% for rform in result_formset %}
                                <tr class="w-75">
                                <td>{{ rform.result_id }}</td>
                                    <td>{{ rform.test_name|as_crispy_field }}</td>
                                    <td>{{ rform.component|as_crispy_field }}</td>
                                    <td>{{ rform.result_status|as_crispy_field }}</td>
                                    <td>{{ rform.result_num|as_crispy_field }}</td>
                                    <td>{{ rform.reported|as_crispy_field }}</td>
                                    <td>{{ rform.DELETE|as_crispy_field }}</td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="add-btn"></div>
                    </div>
                </div>

                <button type="reset" class="btn btn-abbvie mb-4">Clear</button>
                <a href="{% url 'studies:study-home' %}" class="btn mb-4" role="button">Cancel</a>
                <button type="submit" name="btn_submitted" class="btn mb-4">Submit to Team</button>

            </form>

        </div>

    </div>

    <script src="{% static 'dynamic_formsets/jquery.formset.js' %}">
    </script>
    <script type="text/javascript">
        $('.dynamic-formset').formset({
            addButtonHolder: '.add-btn',
            addCssClass: 'btn btn-abbvie',
            deleteCssClass: 'btn btn-danger',
            prefix: '{{ formset.prefix }}',
            uiText: {
                addPrompt: '<span><i class="fas fa-plus" id="add_numBtn"></i></span>',
                removePrompt: '<span><i class="fas fa-trash"></i></span>',
            }
        });
    </script>
    <script>
        $(document).ready(function() {
            $('.datepicker').datepicker({ dateFormat: 'yy-mm-dd' });
        });
    </script>

{% endblock content %}