*/__pycache__/*
*.pyc
.ipynb_checkpoints/
**/.ipynb_checkpoints/
*.ipynb
.idea/*
./nohup.out
./log.txt
nest/config.py
venv/*
nest/fixtures/nest/initial-data.json
.env
.env*
Pipfile
Pipfile.lock
.vscode
custom.css
staticfiles/
settings_local.py
*.DS_Store
.DS_Store